body{
	background-: ;
	background:url(../img/222.jpg)center;
	background-repeat:no-repeat;
	background-position:; 
	background-attachment: fixed;
	background-size:cover;
	background-origin: ;
	background-clip: ;
}
