.div1 {padding: 50px;
       border:1px solid red;
       background-color: lightblue;}

.div2 {
    padding-top: 250px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border:1px solid red;
    background-color: lightblue;
}


.div3 {
    padding: 25px 50px 75px 100px;
    border:2px solid blue;
}